version: "3"

services:
  bot:
    build: ./
    restart: always
    env_file:
      - .env

  postgres:
    image: postgres
    container_name: postgres
    ports:
      - "5432:5432"
    restart: always
    env_file:
      - .env

  postgres_admin:
    image: dpage/pgadmin4
    container_name: postgres_admin
    ports:
      - "5000:80"
    restart: always
    env_file:
      - .env